#list{
  padding-top: 9rem;
  margin-top:-9rem;
}

.catPage{
  .catPage-title{
    margin-bottom: 4rem;
    text-align: center;
  }
  .catPage-content{
    line-height: 1.875;
    position: relative;
    @media screen and (max-width: $screen-sm-max){
      &.-readMore{
        height: 300px;
        overflow: hidden;
        margin-bottom : 3rem;
        .catPage-content-readmore{
          display: flex;
        }
      }
    }
    p{
      margin-bottom: 3rem;
      font-size: 1.6rem;
    }
    .catPage-content-readmore{
      display: none;
      @media screen and (max-width: $screen-sm-max){

        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        height: 7rem;
        cursor: pointer;
        background: linear-gradient(
          rgba(255,255,255,0.8),
          rgba(255,255,255,1)
          );
        span{
          width: 100%;
          text-align: center;
          color: $c_green;
          font-weight: bold;
          height: 1rem;
          text-shadow: 0px 2px 2px rgba(61,53,45,0.3);
        }
        i{ color: $c_green; }
      }
    }
  }
  .catPage-attention{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 1rem;
    width: 80%;
    margin: 0 auto 4rem;
    background-color: #F0FAF3;
    @media screen and (max-width: $screen-sm-max){
      padding: 2.5rem 1rem;
      line-height: 1.3;
      color: #534437;
      font-size: 1.4rem;
      font-weight: bold;
    }
    img{
      width: 20px;
      // height: 20px;
      margin-right: 1rem;
    }
  }

  .point{
    counter-reset: headNum;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    li{
      &:before{
        counter-increment: headNum;
        content: counter(headNum) '.';
        color: $c_green;
        font-weight: bold;
        font-family :YuMincho,'Yu Mincho',serif;
        margin-right: 0.6rem;
        font-size: 2.2rem;
      }
    }
  }
}
